<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>My E-commerce</h1>

    Iniciar Session:

    <br>
    <a href="/githublogin">Github</a><br>
    <a href="/locallogin">Username & Password</a><br>

    <a href="/private">Private</a><br>
    <hr>
    
    {{{ body }}}
</body>

</html>