<form action="/pokemon" method="POST">

    Name: <input type="text" name="name">
    Photo: <input type="text" name="photo">
    Type: <input type="text" name="type">

    <input type="submit" value="Crear">
</form>