<h2>Login</h2>

<form action="/locallogin" method="post">
    Email: <input type="email" name="email"> <br>
    Password: <input name="password"> <br>
    <input type="submit" value="Login">
</form>

<hr>
<a href="/localregister">Register</a>

