<h2>User Register</h2>

<form action="/localregister" method="post">
    Name: <input name="name"> <br>
    Email: <input type="email" name="email"> <br>
    Password: <input name="password"> <br>
    
    <hr>

    <input type="submit" value="Register">

</form>