<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My E-commerce</title>
</head>
<body>

    <a href="/">Home</a> <br>
    <a href="/profile">Profile</a> <br>
    <a href="/login">Login</a> <br>
    <a href="/singup">Register</a> <br>


    <hr>
    
    {{{ body }}}
</body>
</html>